*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;


}

body{
    background: #fff;
}

.navbar .header{
    z-index: 1;
    background: #06215D;
    position: fixed;
    width: calc(100%);
    height: 70px;
    display: flex;
    top: 0;
}

.navbar .header .header-menu{
    width: calc(100%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;

}


.navbar .header .header-menu .title{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
}

.navbar .header .header-menu .title span{
    color: #F9CC4B;
}



.navbar .header .header-menu .header-submenu a{
    position: relative;
    font-size: 20px;
    color: #fff;
    font-weight: 900;
}

.navbar .header .header-menu .header-submenu a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background: #ffffff;
    transition: .3s;
}
.navbar .header .header-menu .header-submenu a:hover::before{
   width: 100%;

}



.navbar .header .header-menu .header-submenu::after {
    content: '';
    clear: both;
    display: table;
}

.navbar .header .header-menu .header-submenu ul {
    float: left;
    list-style: none;
    position: relative;
    background: #06225dec;
    margin: 0;
    min-width: 200px;
}

.navbar .header .header-menu .header-submenu ul li{
    float: left;
    display: inline-block;
    margin: 0 5px;
    margin-left: 50px;
}

.navbar .header .header-menu .header-submenu ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    line-height: 70px;
    font-size: 20px;
    font-weight: 700;
    padding: 8px 15px;


}

.navbar .header .header-menu .header-submenu ul li a:hover{
    color: #F9CC4B;



}




.navbar .header .header-menu .header-submenu ul ul{
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;


}

.navbar .header .header-menu .header-submenu ul li:hover > ul{
    opacity: 1;
    visibility: visible;

}


.navbar .header .header-menu .header-submenu ul ul li{
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);

}

.navbar .header .header-menu .header-submenu ul ul li a{
    color: #f1efe9;
    font-size: 18px;
}


.navbar .header .header-menu .nav-icon ul li a{
    background: #414785;
    color: #F9CC4B;
    display: block;
    margin: 0 15px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
}

.navbar .header .header-menu .nav-icon ul li a:hover{
    background: #DFDFE2;
    color: #1A171D;
}

.navbar .header .header-menu .nav-icon ul{
    display: flex;
}

