/*From Uiverse.io by Lu2ovic */


/* เดิม ใช้งานได้*/

/* .radio-input {
    display: flex;
    gap: 16px; 
    margin-left: 50px;
    margin-top: 15px;
  }
  
  .radio-b {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .radio-b__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .radio-b__label {
    display: flex;
    align-items: center;
    gap: 12px; 
    font-size: 15px;
    color: #000000;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  
  .radio-b__custom {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 50%;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  
  .radio-b__custom-fill {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 10px;
    background: linear-gradient(
      0deg,
      rgba(81, 121, 251, 0.859) 0%,
      #03194a 90%
    );
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
  
  .radio-b__input:checked + .radio-b__label .radio-b__custom-fill {
    width: 26px;
    height: 26px;
    transition: all 0.3s ease;
  }
  
  .radio-b__input:checked + .radio-b__label .radio-b__custom {
    border: none; 
    transition: all 0.3s ease; 
  }
  
  .radio-b__input:hover + .radio-b__label .radio-b__custom {
    transform: scale(0.85);
    color: linear-gradient(
      0deg,
      rgba(81, 121, 251, 0.859) 0%,
      #03194a 90%
    );
  }
  

  .radio-b__text {
    font-size: 15px;
    color: #000000;
    font-weight: 600;
  }
  
  

.input-container {
    display: flex;
    background: white;
    border-radius: 1rem;
    width: 280px;
    height: 40px;
    background: linear-gradient(45deg, #c5c5c5 0%, #ffffff 100%);
    box-shadow: 20px 20px 20px #d8d8d8,-10px -10px 20px #f8f8f8;
    padding: 0.3rem;
    gap: 0.3rem;
  }
  
  .input-container input {
    border-radius: 0.8rem 0 0 0.8rem;
    background: #e8e8e8;
    box-shadow: inset 13px 13px 10px #dcdcdc,
              inset -13px -13px 10px #f4f4f4;
    width: 100%;
    flex-basis: 75%;
    padding: 1rem;
    border: none;
    border-left: 2px solid #03194A;
    color: #5e5e5e;
    transition: all 0.2s ease-in-out;
  }
  
  .input-container input:focus {
    border-left: 2px solid #03194A;
    outline: none;
    box-shadow: inset 13px 13px 10px #c0c3c4,inset -13px -13px 10px #f4f4f4;
  }
  
  .input-container button {
    flex-basis: 25%;
    padding: 1rem;
    background: linear-gradient(135deg, #BFF0FA 0%, #03194A 100%);
    font-weight: 900;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: white;
    border: none;
    width: 80%;
    border-radius: 0 1rem 1rem 0;
    transition: all 0.2s ease-in-out;
  }
  
  .input-container button:hover {
    background: linear-gradient(135deg, #BFF0FA 0%, #03194A 100%);
  }
  
  @media (max-width: 500px) {
    .input-container {
      flex-direction: column;
    }
  
    .input-container input {
      border-radius: 0.8rem;
    }
  
    .input-container button {
      padding: 1rem;
      border-radius: 0.8rem;
    }
  }
  

.text-checkbox{
    margin-top: 0px;
    font-weight: 700;
}



.custom-table .ant-table-thead > tr > th {
    background-color: #8096BC; 
    color: #131010;

}

.custom-table2 .ant-table-thead > tr > th {
  background-color: #c46c6c; 
  color: #131010; 

}


.redTableContainer {
    background-color: #f8d7da;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .redTable {
    background-color: #f8d7da;
    border-collapse: collapse;
    width: 100%;
  }
  
  .redTable th,
  .redTable td {
    border: 1px solid #f5c6cb;
    padding: 8px;
    text-align: left;
  }
  
  .redTable th {
    background-color: #f5c6cb;
  }
  

 .icon i :hover{
  background:#000000 ;
  color: #dcdcdc;
 } */

















 /* From Uiverse.io by JaydipPrajapati1910 */ 
.input {
  width: 270px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  color: #222;
  padding: 15px 5px 10px 20px;
  box-shadow: inset 4px 4px 4px rgba(15, 15, 15, 0.315),4px 4px 4px rgba(28, 28, 28, 0.13);
  border-radius: 25px;
  background-clip: padding-box;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.input:focus {
  padding-bottom: 10px;
}

.input::placeholder {
  color: #969393;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .3px;
}

.input:focus::placeholder {
  color: #999;
}


select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  border-radius: 25px;
  background: #ffffffb9;
  background-clip: padding-box;
  box-shadow: inset 4px 4px 4px rgba(15, 15, 15, 0.315),4px 4px 4px rgba(28, 28, 28, 0.13);
  background-image: none;
  flex: 1;
  padding: 0 20px;
  color:#222;
  font-weight: 500;
  cursor:pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;

}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 15em;
  height: 30px;
  line-height: 3;
  background: #fff7f5;
  overflow: hidden;
  border-radius: 50px;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #5d88e345;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
  margin-top: -7px;
}
.select:hover::after {
  color: #060a78;
}


.select-degree {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  border-radius: 25px;
  background: #ffffffb9;
  background-clip: padding-box;
  box-shadow: inset 4px 4px 4px rgba(15, 15, 15, 0.315),4px 4px 4px rgba(28, 28, 28, 0.13);
  background-image: none;
  flex: 1;
  padding: 0 20px;
  color:#222;
  font-weight: 500;
  cursor:pointer;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
 

}
select::-ms-expand {
  display: none;
}
.selectdegree {
  position: relative;
  display: flex;
  width: 10em;
  height: 30px;
  line-height: 3;
  background: #fff7f5;
  overflow: hidden;
  border-radius: 50px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 10px;
  
}
.selectdegree::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #5d88e345;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
  margin-top: -7px;
}
.selectdegree:hover::after {
  color: #060a78;
}




.selectfaculty::-ms-expand {
  display: none;
}
.selectfaculty {
  position: relative;
  display: flex;
  width: 25em;
  height: 30px;
  line-height: 3;
  background: #fff7f5;
  overflow: hidden;
  border-radius: 50px;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  
}
.selectfaculty::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #5d88e345;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
  margin-top: -7px;
}
.selectfaculty:hover::after {
  color: #060a78;
}



.custom-datepicker {
  box-shadow: inset 4px 4px 4px rgba(15, 15, 15, 0.315),4px 4px 4px rgba(28, 28, 28, 0.13);
  background-color: #ffffff23; /* สีของกล่อง */
  border-color: #999999;    /* สีของขอบ */
  color: #333333;           /* สีข้อความ */
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.custom-datepicker1 {
  box-shadow: inset 4px 4px 4px rgba(15, 15, 15, 0.315),4px 4px 4px rgba(28, 28, 28, 0.13);
  background-color: #ffffff; /* สีของกล่อง */
  border-color: #999999;    /* สีของขอบ */
  color: #333333;           /* สีข้อความ */
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.custom-datepicker .ant-picker-input > input {
  color: #333333;           /* สีข้อความที่พิมพ์ในกล่อง */
}
.ant-picker ant-picker-outlined css-dev-only-do-not-override-1x0dypw custom-datepicker1{
  border-color: #ffffff;
}
  
.responsive-div {
  background-color: #9db2c4;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ปรับ layout สำหรับหน้าจอขนาดใหญ่ */
@media (min-width: 768px) {
  .responsive-div {
    flex-direction: row; /* เปลี่ยนเป็นการจัดเรียงในแนวนอน */
    justify-content: space-between;
  }
}


/* From Uiverse.io by Lu2ovic */ 
.radio-input {
  display: flex;
  gap: 16px; /* Espace entre les lignes */
  /* margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 15px; */

}

.radio-b {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-b__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-b__label {
  display: flex;
  align-items: center;
  gap: 12px; /* Espace entre le carré et le texte */
  font-size: 15px;
  color: #000000;
  font-weight: 600;
  transition: all 0.3s ease;
}

.radio-b__custom {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 50%;
  transition: all 0.3s ease;
  overflow: hidden;
}

.radio-b__custom-fill {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgba(81, 121, 251, 0.859) 0%,
    #03194a 90%
  );
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.radio-b__input:checked + .radio-b__label .radio-b__custom-fill {
  width: 26px;
  height: 26px;
  transition: all 0.3s ease;
}

.radio-b__input:checked + .radio-b__label .radio-b__custom {
  border: none; /* Supprime les bordures noires */
  transition: all 0.3s ease; /* Assure une transition fluide */
}

.radio-b__input:hover + .radio-b__label .radio-b__custom {
  transform: scale(0.85);
  color: linear-gradient(
    0deg,
    rgba(81, 121, 251, 0.859) 0%,
    #03194a 90%
  );
}

/* Optionnel : style pour le texte */
.radio-b__text {
  font-size: 15px;
  color: #000000;
  font-weight: 600;
}



 
  