/* From Uiverse.io by Allyhere */ 
.btn-donate {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: #a2b1cb99;
    --btn-bg-2: #8096BC;
    --btn-bg-color: #f9f4f4;
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 620px;
    min-height: 30px;
    font-size: var(--size, 1rem);
    font-weight: 900;
    font-family: "Oswald", sans-serif;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(
      325deg,
      var(--btn-bg-2) 0%,
      var(--btn-bg-1) 55%,
      var(--btn-bg-2) 90%
    );
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow:
      0px 0px 20px rgba(71, 184, 255, 0.5),
      0px 5px 5px -1px rgba(58, 125, 233, 0.25),
      inset 4px 4px 8px rgba(175, 230, 255, 0.5),
  }
  
  .btn-donate:hover {
    background-position: right top;
  }
  
  .btn-donate:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow:
      0 0 0 3px var(--btn-bg-color),
      0 0 0 6px var(--btn-bg-2);
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn-donate {
      transition: linear;
    }
  }
  
  .button-menu {
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   gap: 35px; 
   padding: 20px; 
   justify-content: center; 
 }
 
 .btn-donate {
   background-color: #fff; 
   color: #000; 
   border: none;
   border-radius: 10px;
   padding: 20px 20px;
   font-size: 16px;
   cursor: pointer;
   text-align: left; 
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
 }
 
 .btn-donate:hover {
   background-color: #f0f0f0;
 }
 
 


 .icon-style {
  color: #f5f4f3;
  margin-left: 1320px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon-style:hover {
  color: #F9CC4B;
}
